<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <h1>Fill the Marks of Subject</h1>
    <form action="/submit" method="post">
        <label for="maths">
            Maths:
        </label><br>
        <input type="text" id="maths", name="maths" value="0"><br>
        <label for="ds">
            Data Science:
        </label><br>
        <input type="text" id="ds" name="data science" value="0"><br>
        <label for="statistics">
            Statistics:
        </label><br>
        <input type="text" id="statistics", name="statistics" value="0"><br>
        <label for="python">
            Python:
        </label><br>
        <input type="text" id="python" name="python" value="0"><br>
        <label for="java">
            Java:
        </label><br>
        <input type="text" id="java", name="java" value="0"><br>
        <label for="economics">
            Economics:
        </label><br>
        <input type="text" id="economics" name="economics" value="0"><br>
        <button type="submit" value="Submit">Submit</button>
        <button type="reset" value="Reset">Reset</button> <br>
    </form>
    <p>
        Click Submit to get Average Result and Status of Result...
    </p>
</body>
</html>